USE [master]
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'Filmovi')
    DROP DATABASE [Filmovi]
GO
CREATE DATABASE [Filmovi]
GO
USE [Filmovi]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[IdF] [int] IDENTITY(1,1) NOT NULL,
	[Naslov] [varchar](100) NOT NULL,
	[Reziser] [varchar](100) NOT NULL,
	[Status] [varchar](100) NULL,
 CONSTRAINT [PK_Film_1] PRIMARY KEY CLUSTERED 
(
	[IdF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ocena]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocena](
	[IdK] [int] NOT NULL,
	[IdF] [int] NOT NULL,
	[Ocena] [int] NOT NULL,
	[DatumOcene] [datetime] NOT NULL,
 CONSTRAINT [PK_Ocena] PRIMARY KEY CLUSTERED 
(
	[IdK] ASC,
	[IdF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pripada]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pripada](
	[IdF] [int] NOT NULL,
	[IdZ] [int] NOT NULL,
 CONSTRAINT [PK_Pripada] PRIMARY KEY CLUSTERED 
(
	[IdF] ASC,
	[IdZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanListe]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanListe](
	[IdF] [int] NOT NULL,
	[IdK] [int] NOT NULL,
 CONSTRAINT [PK_ClanListe] PRIMARY KEY CLUSTERED 
(
	[IdF] ASC,
	[IdK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Preporuci_Filmove]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_Preporuci_Filmove]
(	
	-- Add the parameters for the function here
	@IdK int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	WITH OmiljeniZanrovi AS(
		SELECT P.IdZ
		FROM Pripada P JOIN Ocena O on O.IdF = P.IdF
		WHERE O.IdK = @IdK
		GROUP BY P.IdZ
		HAVING AVG(CAST(O.Ocena AS DECIMAL(10,3))) >= 8
	),
	KandidatiFilmovi AS(
		SELECT DISTINCT F.IdF
		FROM Film F JOIN Pripada P on F.IdF = P.IdF JOIN OmiljeniZanrovi OZ on OZ.IdZ = P.IdZ
		WHERE F.IdF NOT IN (SELECT O.IdF FROM Ocena O WHERE O.IdK = @IdK)
		AND F.IdF NOT IN(
			SELECT CL.IdF
			FROM ClanListe CL 
			WHERE CL.IdK = @IdK
		)
	),
	Statistike AS(
		SELECT KF.IdF, COUNT(O.Ocena) AS BrojOcena, AVG(CAST(O.Ocena AS DECIMAL(10,3))) AS ProsecnaOcena
		FROM KandidatiFilmovi KF left join Ocena O on KF.IdF = O.IdF
		GROUP BY KF.IdF 
	)
	SELECT IdF, ProsecnaOcena
	FROM Statistike
	WHERE (BrojOcena > 3 AND ProsecnaOcena >= 7.5) OR (BrojOcena < 4 AND ProsecnaOcena >= 9)
)
GO
/****** Object:  Table [dbo].[ImaOznaku]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImaOznaku](
	[IdF] [int] NOT NULL,
	[Opis] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ImaOznaku] PRIMARY KEY CLUSTERED 
(
	[IdF] ASC,
	[Opis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Specijalizacija]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_Specijalizacija]
(	
	-- Add the parameters for the function here
	@IdK int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT IO.Opis
    FROM Ocena O JOIN ImaOznaku IO ON O.IdF = IO.IdF
    WHERE O.IdK = @IdK AND O.Ocena >= 8
    GROUP BY IO.Opis
    HAVING COUNT(IO.Opis) >= 2
)
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[IdK] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [varchar](100) NOT NULL,
	[BrNagrada] [int] NOT NULL,
	[Opis] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[IdK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zanr]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zanr](
	[IdZ] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Zanr] PRIMARY KEY CLUSTERED 
(
	[IdZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Zanr_Naziv] UNIQUE NONCLUSTERED 
(
	[Naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Korisnik] ADD  CONSTRAINT [DF_Korisnik_BrNagrada]  DEFAULT ((0)) FOR [BrNagrada]
GO
ALTER TABLE [dbo].[Korisnik] ADD  CONSTRAINT [DF_Korisnik_Opis]  DEFAULT ('undefined') FOR [Opis]
GO
ALTER TABLE [dbo].[Ocena] ADD  CONSTRAINT [DF_Ocena_DatumOcene]  DEFAULT (getdate()) FOR [DatumOcene]
GO
ALTER TABLE [dbo].[ClanListe]  WITH CHECK ADD  CONSTRAINT [FK_ClanListe_Film] FOREIGN KEY([IdF])
REFERENCES [dbo].[Film] ([IdF])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ClanListe] CHECK CONSTRAINT [FK_ClanListe_Film]
GO
ALTER TABLE [dbo].[ClanListe]  WITH CHECK ADD  CONSTRAINT [FK_ClanListe_Korisnik] FOREIGN KEY([IdK])
REFERENCES [dbo].[Korisnik] ([IdK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ClanListe] CHECK CONSTRAINT [FK_ClanListe_Korisnik]
GO
ALTER TABLE [dbo].[ImaOznaku]  WITH CHECK ADD  CONSTRAINT [FK_ImaOznaku_Film] FOREIGN KEY([IdF])
REFERENCES [dbo].[Film] ([IdF])
GO
ALTER TABLE [dbo].[ImaOznaku] CHECK CONSTRAINT [FK_ImaOznaku_Film]
GO
ALTER TABLE [dbo].[Ocena]  WITH CHECK ADD  CONSTRAINT [FK_Ocena_Film] FOREIGN KEY([IdF])
REFERENCES [dbo].[Film] ([IdF])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ocena] CHECK CONSTRAINT [FK_Ocena_Film]
GO
ALTER TABLE [dbo].[Ocena]  WITH CHECK ADD  CONSTRAINT [FK_Ocena_Korisnik] FOREIGN KEY([IdK])
REFERENCES [dbo].[Korisnik] ([IdK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ocena] CHECK CONSTRAINT [FK_Ocena_Korisnik]
GO
ALTER TABLE [dbo].[Pripada]  WITH CHECK ADD  CONSTRAINT [FK_Pripada_Film] FOREIGN KEY([IdF])
REFERENCES [dbo].[Film] ([IdF])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pripada] CHECK CONSTRAINT [FK_Pripada_Film]
GO
ALTER TABLE [dbo].[Pripada]  WITH CHECK ADD  CONSTRAINT [FK_Pripada_Zanr] FOREIGN KEY([IdZ])
REFERENCES [dbo].[Zanr] ([IdZ])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Pripada] CHECK CONSTRAINT [FK_Pripada_Zanr]
GO
ALTER TABLE [dbo].[Ocena]  WITH CHECK ADD  CONSTRAINT [CHK_Ocena] CHECK  (([Ocena]>=(1) AND [Ocena]<=(10)))
GO
ALTER TABLE [dbo].[Ocena] CHECK CONSTRAINT [CHK_Ocena]
GO
/****** Object:  StoredProcedure [dbo].[FP_Preporuci_Filmove]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FP_Preporuci_Filmove] 
	-- Add the parameters for the stored procedure here
	@IdK int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT IdF
	FROM FN_Preporuci_Filmove(@IdK)
	ORDER BY ProsecnaOcena DESC, IdF ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REWARD_USER_]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REWARD_USER_]
	-- Add the parameters for the stored procedure here
	@IdK int, 
	@IdF int
AS
BEGIN
    IF (
        SELECT COUNT(*) 
        FROM Ocena O 
        WHERE O.IdK = @IdK
    ) >= 10
    AND EXISTS (
        SELECT 1
        FROM Pripada P1
        WHERE P1.IdF = @IdF
          AND P1.IdZ IN (
                SELECT P2.IdZ
                FROM Pripada P2
                JOIN Ocena O ON O.IdF = P2.IdF
                WHERE O.IdK = @IdK
                GROUP BY P2.IdZ
                HAVING AVG(CAST(O.Ocena AS DECIMAL(10,3))) >= 8
      )
)
    AND (
        SELECT AVG(CAST(O2.Ocena AS DECIMAL(10,3)))
        FROM Ocena O2
        WHERE O2.IdF = @IdF AND O2.IdK != @IdK
    ) < 6
    BEGIN
        UPDATE Korisnik
        SET BrNagrada = BrNagrada + 1
        WHERE IdK = @IdK;
    END
END
GO
/****** Object:  Trigger [dbo].[TR_BLOCK_EXTREME]    Script Date: 6.7.2026. 21:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_BLOCK_EXTREME]
    ON [dbo].[Ocena]
    AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted I
        JOIN Pripada P ON I.IdF = P.IdF
        WHERE (I.Ocena = 1 OR I.Ocena = 10)
          AND (
              SELECT COUNT(*)
              FROM Ocena O2
              JOIN Pripada P2 ON O2.IdF = P2.IdF
              WHERE O2.IdK = I.IdK
                AND P2.IdZ = P.IdZ
                AND (O2.Ocena = 1 OR O2.Ocena = 10)
                AND NOT (O2.IdK = I.IdK AND O2.IdF = I.IdF) 
          ) > 3
          AND (
              SELECT COUNT(*)
              FROM Ocena O3
              JOIN Pripada P3 ON O3.IdF = P3.IdF
              WHERE O3.IdK = I.IdK
                AND P3.IdZ = P.IdZ
                AND O3.Ocena IN (6, 7, 8)
          ) < 3
    )
    BEGIN
        ROLLBACK TRANSACTION;
        RAISERROR('Blokirano: previse ekstremnih ocena u zanru bez dovoljno neutralnih.', 16, 1);
        RETURN;
    END
END
GO
ALTER TABLE [dbo].[Ocena] ENABLE TRIGGER [TR_BLOCK_EXTREME]
GO
/****** Object:  Trigger [dbo].[TR_Nagrade]    Script Date: 6.7.2026. 21:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_Nagrade]
   ON  [dbo].[Ocena]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @IdK int, @IdF int
    DECLARE @kursor CURSOR

    SET @kursor = CURSOR FOR
    SELECT IdK, IdF FROM inserted

    OPEN @kursor
    FETCH NEXT FROM @kursor INTO @IdK, @IdF

    WHILE @@FETCH_STATUS = 0
    BEGIN
        EXEC SP_REWARD_USER_ @IdK = @IdK, @IdF = @IdF
        FETCH NEXT FROM @kursor INTO @IdK, @IdF
    END

    CLOSE @kursor
    DEALLOCATE @kursor
END
GO
ALTER TABLE [dbo].[Ocena] ENABLE TRIGGER [TR_Nagrade]
GO
/****** Object:  Trigger [dbo].[TR_OPIS_KORISNIKA]    Script Date: 6.7.2026. 21:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_OPIS_KORISNIKA]
    ON [dbo].[Ocena]
    AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AffectedUsers TABLE (IdK int);
    INSERT INTO @AffectedUsers SELECT DISTINCT IdK FROM inserted;
    INSERT INTO @AffectedUsers SELECT DISTINCT IdK FROM deleted;

    WITH KorisnikStatistike AS (
        SELECT K.IdK,
               (SELECT COUNT(DISTINCT O.IdF)
                FROM Ocena O
                WHERE O.IdK = K.IdK) AS BrojFilmova,
               (SELECT COUNT(DISTINCT IO.Opis)
                FROM Ocena O
                JOIN ImaOznaku IO ON IO.IdF = O.IdF
                WHERE O.IdK = K.IdK) AS BrojTagova
        FROM Korisnik K
        WHERE K.IdK IN (SELECT IdK FROM @AffectedUsers)
    )
    UPDATE K
    SET Opis = CASE
        WHEN KS.BrojFilmova >= 10 AND KS.BrojTagova >= 10 THEN 'curious'
        WHEN KS.BrojFilmova >= 10 AND KS.BrojTagova < 10  THEN 'focused'
        ELSE 'undefined'
    END
    FROM Korisnik K JOIN KorisnikStatistike KS ON K.IdK = KS.IdK;
END
GO
ALTER TABLE [dbo].[Ocena] ENABLE TRIGGER [TR_OPIS_KORISNIKA]
GO
/****** Object:  Trigger [dbo].[TR_UPDATE_MOVIE_TREND]    Script Date: 6.7.2026. 21:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[TR_UPDATE_MOVIE_TREND]
   ON  [dbo].[Ocena]
   AFTER INSERT,DELETE,UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	DECLARE @AffectedFilms TABLE (IdF int);
	INSERT INTO @AffectedFilms SELECT DISTINCT IdF FROM inserted;
	INSERT INTO @AffectedFilms SELECT DISTINCT IdF FROM deleted;

	DECLARE @GlobalMax int;
	SELECT @GlobalMax = MAX(Cnt)
	FROM (
		SELECT COUNT(*) AS Cnt
		FROM Ocena
		WHERE DatumOcene >= DATEADD(DAY, -30, GETDATE())
		GROUP BY IdF
	) Svi;

	WITH Agregacije AS (
		SELECT F.IdF, COUNT(O.Ocena) AS BrojOcena, AVG(CAST(O.Ocena AS DECIMAL(10,3))) AS UkupniProsek,
		(
			SELECT AVG(CAST(Ocena AS DECIMAL(10,3)))
			FROM (
				SELECT TOP 5 Ocena 
				FROM Ocena 
				WHERE IdF = F.IdF 
				ORDER BY DatumOcene DESC
			) Poslednjih5
		) AS ProsekPoslednjih5,
		(
			SELECT COUNT(*) 
			FROM Ocena O2
			WHERE O2.IdF = F.IdF 
			AND O2.DatumOcene >= DATEADD(DAY, -30, GETDATE())
		) AS OceneU30Dana
		FROM Film F
		JOIN Ocena O ON F.IdF = O.IdF
		WHERE F.IdF IN (SELECT IdF FROM @AffectedFilms)
		GROUP BY F.IdF
	)
	UPDATE F
	SET F.Status = 
		CASE
			WHEN A.ProsekPoslednjih5 - A.UkupniProsek >= 1 THEN 'Rising'
			WHEN A.UkupniProsek - A.ProsekPoslednjih5 >= 1 THEN 'Falling'
			WHEN A.BrojOcena >= 3 AND A.UkupniProsek >= 8 THEN 'Classic'
			WHEN A.OceneU30Dana >= @GlobalMax THEN 'Trending'
			ELSE NULL
		END
	FROM Film F
	JOIN Agregacije A ON F.IdF = A.IdF;

END
GO
ALTER TABLE [dbo].[Ocena] ENABLE TRIGGER [TR_UPDATE_MOVIE_TREND]
GO
USE [master]
GO
